<ul id="menu_root">
	<li>
		<a href="#introduction"> Introduction </a>
	</li>
	<li>
		<a href="#combinatorial-maps"> Combinatorial maps </a>
		<ul>
			<li> <a href="#from-incidence-graph-to-cell-tuples"> Cell-tuples </a> </li>
			<li> <a href="#generalized-maps"> Generalized maps </a> </li>
			<li> <a href="#oriented-combinatorial-maps"> Oriented maps </a> </li>
			<li> <a href="#embedding"> Embedding </a> </li>
		</ul>
	</li>
	<li>
		<a href="#implementation"> Implementation </a>
		<ul>
			<li> <a href="#attribute-containers"> Attribute containers </a> </li>
			<li> <a href="#basic-types"> Basic types </a> </li>
			<li> <a href="#attributes"> Attributes </a> </li>
			<li>
				<a href="#global-traversals"> Global traversals </a>
				<ul>
					<li> <a href="#early-stop"> Early stop </a> </li>
					<li> <a href="#parallelism"> Parallelism </a> </li>
					<li> <a href="#masks"> Masks </a> </li>
				</ul>
			</li>
			<li> <a href="#local-traversals"> Local traversals </a> </li>
			<li> <a href="#operators"> Operators </a> </li>
		</ul>
	</li>
</ul>
