<ul id="menu_root">
	<li>
		<a href="#introduction"> Introduction </a>
	</li>
	<li>
		<a href="#contribs"> Contributors & contact </a>
	</li>
	<li>
		<a href="#installation"> Installation </a>
		<ul>
			<li> <a href="#linux"> Linux </a> </li>
			<li> <a href="#mac"> MacOS/X </a> </li>
			<li> <a href="#windows"> Windows </a> </li>
		</ul>
	</li>
	<li>
		<a href="#architecture"> Architecture </a>
	</li>
	<li>
		<a href="#tutorials"> Tutorials </a>
	</li>
	<li>
		<a href="#implemented"> Implemented Algo.</a>
	</li>
</ul>
