---

---

@import "{{ site.theme }}";

#header_wrap header {
	padding: 50px 50px 30px;
}

#main_content_wrap {
	display: flex;
	flex-direction: row;
}

#main_content_wrap section {
	padding: 30px 50px;
	flex: 5;
}

#sidemenu_wrap {
	flex: 1;
}

@media screen and (max-width: 480px) {
	#sidemenu_wrap ul {
		display: none;
	}
}

#sidemenu_wrap ul#sidemenu_root {
	padding-top: 40px;
	text-align: right;
	font-weight: bold;
}

#sidemenu_wrap ul {
	list-style-type: none;
	padding-right: 10px;
	margin-bottom: 0;
	font-size: 0.95em;
}

#sidemenu_wrap ul ul {
	font-weight: normal;
}

#sidemenu_wrap ul ul ul {
	font-style: italic;
}

#footer_wrap footer {
	padding: 30px 50px;
}

ul#topmenu {
	display: flex;
	flex-direction: row;
	padding: 0;
	margin: 0;
	background-color: #f2f2f2;
	list-style: none;
	text-align: center;
}
ul#topmenu li {
	flex: 1;
	border-right: 1px solid #212121;
}
ul#topmenu li:last-child {
	border-right: 0;
}
ul#topmenu li:hover {
	background-color: #c2c2c8;
}
ul#topmenu li a {
	display: block;
}
ul#topmenu li a:hover {
	font-weight: normal;
	text-decoration: none;
}

p.warning {
	padding: 15px;
	font-style: italic;
	color: rgb(255, 75, 75);
	background-color: rgb(255, 240, 250);
}

img {
	max-width: 500px;
}

img + em {
	display: block;
	text-align: center;
}
